/*  your css code here. If applicable */
.container{
  display: flex;
  width: 60%;
  padding:20px;
  background-color: white;
  box-shadow: 10px 10px 10px gray;
  border-radius: 20px;
  justify-content: center;
  position: relative;
}
.name{
	font-weight: bold;
  text-align: center;
  justify-content: center;
}
.button{
  padding: 10px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
}